<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/another_view/layout :: head">
    <meta charset="UTF-8">
    <title>Create Type</title>
</head>
<body>

    <h3>Add New Type</h3>
    <p><a th:href="@{/types}">Back To Type List</a></p>

    <div id="form">
        <form th:action="@{/create}" th:object="${type}" method="post" novalidate>
            <input type="hidden" th:field="*{id}"/>
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" th:field="*{name}">
            </div>
            <input type="submit" value="Save"/>
        </form>
    </div>
    <footer th:replace="/another_view/layout :: footer"></footer>

</body>
</html>